body {
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0 30px 20px;
}

div.banner {
    width: 100%;
    background: #EEA;
}

div.wrapper {
    width: 1160px;
    -webkit-column-count: 2;
    -webkit-column-fill: auto;
    -moz-column-count: 2;
    -moz-column-fill: auto;
    column-count: 2;
    column-fill: auto;
}

div.container {
    border: solid;
    border-width: 1px 2px 2px 1px;
    border-color: #DDD #AAA #AAA #DDD;
    padding: 0 20px 20px 20px;
    margin: 30px 10px 20px 20px;
    width: 500px;
    display: inline-block;
}

div.container h2 {
    font-family: 'Courier';
    font-weight: bold;
    font-size: 17px;
    border: solid;
    border-width: 1px 2px 2px 1px;
    border-color: #DDD #AAA #AAA #DDD;
    padding: 5px 19px;
    margin: -17px 0 10px -11px;
    position: relative;
    z-index: 1;
    background: #FFE;
    width: fit-content;
    min-width: 120px;
}

.text {
    font-family: 'Courier';
    font-size: 15px;
    display: inline-block;
}

.img {
    float: right;
    padding: 8px;
    width: 170px;
}
