body {
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Covered By Your Grace', cursive;
    font-weight: bold;
    font-size: 35px;
    margin: 20px 0 20px 20px;
}

div.banner {
    background: #DDD;
    height: 32px;
    border: solid #999;
    border-width: 1px 0 1px 0;
    margin 0 0 10px 0;
    padding: 5px 40px 5px 0;
    text-align: right;
}

div.banner span {
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}

img.iconLinkedIn {
    background-image: url('https://www.linkedin.com/scds/common/u/images/logos/linkedin/logo_in_nav_retina_88x72_v1.png');
}

img.iconGitHub {
    background-image: url('https://github.com/favicon.ico');
}

img.iconInstagram {
    background-image: url('https://5a5a57ff32a328601212-ee0df397c56b146e91fe14be42fa361d.ssl.cf1.rackcdn.com/icon/instagram_logos_app_icon/YyepHGHDvkl1wFkUHw8Y/Instagram-v051916_200.png');
}

div.banner {
    font-family: 'Walter Turncoat', cursive;
    font-size: 30px;
};

div.banner img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 10px;
}

div.wrapper {
    width: 1160px;
    -webkit-column-count: 2;
    -webkit-column-fill: auto;
    -moz-column-count: 2;
    -moz-column-fill: auto;
    column-count: 2;
    column-fill: auto;
}

div.container {
    border: solid;
    border-width: 1px 2px 2px 1px;
    border-color: #DDD #AAA #AAA #DDD;
    padding: 0 20px 20px 20px;
    margin: 30px 10px 20px 20px;
    width: 500px;
    display: inline-block;
}

div.container h2 {
    font-family: 'Gochi Hand', cursive;
    font-weight: bold;
    font-size: 18px;
    border: solid;
    border-width: 1px 2px 2px 1px;
    border-color: #DDD #AAA #AAA #DDD;
    padding: 5px 19px;
    margin: -17px 0 10px -11px;
    position: relative;
    z-index: 1;
    background: #FFE;
    width: fit-content;
    min-width: 120px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: inline-block;
}

.img {
    float: right;
    padding: 8px;
    width: 170px;
    cursor: pointer;
}

.img:hover {
    opacity: 0.9;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 100px 20px 20px 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
    margin: auto;
    width: fit-content;
    border: 3px solid black;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

figure {
    display: table;
}

figure img {
    display: block;
    width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    padding: 10px 0;
    font-family: 'Arial';
    font=-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
